html {
   height: 100%;
}

body {
/* Remember to use the other versions for IE 10 and older browsers! */
display: flex;
justify-content: center;
align-items: center;
min-height: 100%;
font-family: 'lato', sans-serif;
color: #fff;
background: #222222;
background: #16222A;
background: -webkit-linear-gradient(to top, #16222A , #3A6073);
background: linear-gradient(to top, #16222A , #3A6073);
}

.checkout-box {
    width: 550px;
    height: auto;
    padding: 5% 0 0;
    margin: auto;
}

.checkOut {
    position: relative;
    z-index: 1;
    background: #0d5169;
    border-radius: 20px;
    margin: 0 auto 100px;
    text-align: center;
    box-shadow: 0px 30px 60px -5px #000;
}

.phone-no {
    padding-top: 30px;
}

.input {
    width: 75%;
    height: 40px;
    border: none;
    padding: 10px 20px;
    display: block;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.input:focus {
  outline: 0;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0);
}

.input:focus + span {
  opacity: 0.6;
}

.checkOut button[name="CheckOut"] {
    height: 50px;
    color: #FFF;
    width: 75%;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
    margin-top: 70px;
    margin-bottom: 50px;
    background-color: #1161ed;
    text-align: center;
    font-size: 20px;
}

.checkOut button[name="CheckOut"]:hover {
  background: #4082f5;
  box-shadow: 0px 4px 35px -5px #4082f5;
  cursor: pointer;
}

.checkOut button[name="CheckOut"]:focus {
  outline: none;
}

.error {
  position: fixed;
  left: 0px;
  top: 0px;
}